# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoints
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
venv/
ENV/
env/

# VS Code
.vscode/

# Data, models and outputs (mount them instead of copying into image)
mlruns/

# Git
.git/

# Mac
.DS_Store

# Others
*.log
